@font-face {
    font-family: 'LEMONMILK';
    src: url(fonts/LEMONMILK-Medium.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background: white;
    border: 20px solid #d3294a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'LEMONMILK', sans-serif;
}
h1 {
    color: #d3294a;
    font-size: 70px;
}
